.chat {
    width: 450px;
    height: 120vh;
    max-height: 600px;
    z-index: 2;
    overflow: hidden;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .2);
    background: rgba(0, 0, 0, .5);
    border-radius: 12px 12px 12px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chat-title {
    position: relative;
    z-index: 2;
    background: rgba(0, 0, 0, 0.2);
    color: #dfdfdf;
    text-align: left;
    display: flex;
    padding: 9px 12px;
    font-family: 'Exo 2', sans-serif;
}

.chat-title__info {
    flex: 1;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.info-name {
    font-weight: 400;
    font-size: 21px;
}

.info-status {
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    margin-top: 3px;
    color: #dfdfdf9f;
}

.avatar {
    z-index: 1;
    border-radius: 30px;
    width: 45px;
    height: 45px;
    overflow: hidden;
    margin: auto 0;
    padding: 0;
    border: 2px solid rgba(255, 255, 255, 0.24);
}

img {
    width: 100%;
    height: auto;
}

/* Function group */
.function-group {
    display: flex;
}

.function-group i {
    font-size: 21px;
    padding: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease 0.18s;
}

.function-group i:hover {
    color: #044f48;
    cursor: pointer;
}

/* Message */
.messages {
    flex: 1 1 auto;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    width: 100%;
    overflow-y: scroll;
    scrollbar-gutter: stable both-edge;
    z-index: 3;
}

.messages-content {
    position: absolute;
    left: 0;
    max-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.messages-content__me-message {
    display: flex;
    justify-content: flex-end;
    padding: 9px 9px;
}

.text-box1 {
    background: linear-gradient(135deg, #044f48, #2a7561);
    padding: 9px;
    border-radius: 15px;
    position: relative;
}

.text-content {
    font-family: 'Exo 2', sans-serif;
    font-size: 15px;
    color: #dfdfdf;
}

.messages-content__mybaby-message {
    display: flex;
    padding: 9px;
}

.messages-content__mybaby-message figure {
    width: 36px;
    height: 36px;
    margin-right: 6px;
}

.messages-content__mybaby-message .text-box {
    background-color: none;
}

.text-box2 {
    display: flex;
}

.text-box2 .text-content {
    color: #dfdfdf9c;
    background: rgba(0, 0, 0, .5);
    padding: 9px;
    border-radius: 15px;
    font-size: 15px;
}

.messages .message {
    clear: both;
    float: left;
    padding: 6px 10px 7px;
    border-radius: 10px 10px 10px 0;
    background: rgba(0, 0, 0, 0.3);
    margin: 8px 0;
    font-size: 11px;
    line-height: 1.4;
    margin-left: 35px;
    position: relative;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.messages .message .timestamp {
    position: absolute;
    bottom: -15px;
    font-size: 9px;
    color: rgba(255, 255, 255, 0.3);
}

.messages .message::before {
    content: '';
    position: absolute;
    bottom: -6px;
    border-top: 6px solid rgba(0, 0, 0, 0.3);
    left: 0;
    border-right: 7px solid transparent;
}

.messages .message .avatar {
    position: absolute;
    z-index: 1;
    bottom: -15px;
    left: -35px;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 2px solid rgba(255, 255, 255, 0.24);
}

.messages .message .avatar img {
    width: 100%;
    height: auto;
}

.messages .message.message-personal {
    float: right;
    color: #fff;
    text-align: right;
    background: linear-gradient(120deg, #248A52, #257287);
    border-radius: 10px 10px 0 10px;
}

.messages .message.message-personal::before {
    left: auto;
    right: 0;
    border-right: none;
    border-left: 5px solid transparent;
    border-top: 4px solid #257287;
    bottom: -4px;
}

.messages .message:last-child {
    margin-bottom: 30px;
}

.messages .message.new {
    transform: scale(0);
    transform-origin: 0 0;
    animation: bounce 500ms linear both;
}

.messages .message.loading::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 2;
    margin-top: 4px;
    animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
    border: none;
    animation-delay: 0.15s;
}

.messages .message.loading span {
    display: block;
    font-size: 0;
    width: 20px;
    height: 10px;
    position: relative;
}

.messages .message.loading span::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 2;
    margin-top: 4px;
    margin-left: -7px;
}

.messages .message.loading span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 2;
    margin-top: 4px;
    margin-left: 7px;
    animation-delay: 0.3s;
}

/*--------------------
Message Box 
--------------------*/

.message-box {
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.message-box .message-input {
    background: none;
    border: none;
    outline: none !important;
    resize: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 11px;
    height: 30px;
    padding-right: 20px;
    flex: 1;
}

.message-box .message-submit {
    z-index: 1;
    color: #fff;
    border: none;
    background: #248A52;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 1;
    padding: 6px 10px;
    border-radius: 21px;
    width: 60px;
    outline: none !important;
    transition: background 0.2s ease;
}

.message-input {
    font-size: 15px !important;
}

.message-input::placeholder {
    font-size: 15px;
    font-family: 'Exo 2', sans-serif;
}

.message-box .message-submit:hover {
    cursor: pointer;
    background: #aa951c;
}

/*--------------------
Custom Srollbar
--------------------*/
/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.messages::-webkit-scrollbar-thumb {
    background: transparent;
    transition: background-color 1s ease;
}

.messages:hover::-webkit-scrollbar-thumb {
    background: #333;
}

/*--------------------
Ball animation
--------------------*/
.ball {
    width: 4px;
    height: 3px;
    background-color: #dfdfdf;
    display: inline-block;
    margin: 3px;
    border-radius: 50%;
}

.ball:nth-child(1) {
    animation: bounce 1s infinite;
}

.ball:nth-child(2) {
    animation: bounce 1s infinite .2s;
}

.ball:nth-child(3) {
    animation: bounce 1s infinite .4s;
}

@keyframes bounce {
    0% {
        transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    4.7% {
        transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    9.41% {
        transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    14.11% {
        transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    18.72% {
        transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    24.32% {
        transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    29.93% {
        transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    35.54% {
        transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    41.04% {
        transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    52.15% {
        transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    63.26% {
        transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    85.49% {
        transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    100% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}