<div class="chat">
  <div class="chat-title">
    <figure class="avatar">
      <img src={{currentUserInfo.url}} />
    </figure>
    <div class="chat-title__info">
      <span class="info-name">{{currentUserInfo.name}}</span>
      <span class="info-status">{{currentUserInfo.status}}</span>
    </div>
    <div class="function-group">
      <i class="fa-solid fa-phone"></i>
      <i class="fa-solid fa-video"></i>
    </div>
  </div>

  <div class="messages" #chatBox>
    <div class="messages-content">
      <div *ngFor="let message of messages">
        <div *ngIf="message.userId === mainUserId" class="messages-content__me-message">
          <div class="text-box1">
            <span class="text-content">
              {{ message.content }}
            </span>
          </div>
        </div>

        <div *ngIf="message.userId === subUserId" class="messages-content__mybaby-message">
          <div class="text-box2">
            <figure class="avatar">
              <img src={{currentUserInfo.url}} />
            </figure>
            <span class="text-content">
              {{ message.content }}
            </span>
          </div>
        </div>
      </div>

      <div *ngIf="isTypingFlag" class="messages-content__mybaby-message">
        <div class="text-box2">
          <figure class="avatar">
            <img src={{currentUserInfo.url}} />
          </figure>
          <div class="text-content">
            <div class="ball-group">
              <span class="ball"></span>
              <span class="ball"></span>
              <span class="ball"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="message-box">
    <input type="text" (keyup)="isTyping()" (keyup.enter)="sendMessage()" [(ngModel)]="inputMessage" class="message-input"
      placeholder="Type message...">

    <div class="emoji-box">
      <i (click)="toggleEmojiPicker()" class="fa-regular fa-face-laugh emoji-button"></i>
      <div class="emoji-picker" *ngIf="showEmojiPicker">
        <emoji-mart (emojiClick)="addEmoji($event)" set="facebook"></emoji-mart>
      </div>
    </div>

    <button type="submit" (click)="sendMessage()" class="message-submit">Send</button>
  </div>
</div>
<div class="bg"></div>